body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9f5f7;
    color: #333;
    text-align: center;
}

#map {
    height: 500px;
    margin: 20px auto;
    width: 100%;
}

form {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.table-container {
    margin: 30px auto;
    max-width: 1200px;
    padding: 0 20px;
}

#places-table {
    width: 100%;
}

#places-table th {
    background-color: #28a745;
    color: white;
    padding: 12px;
    text-align: center;
}

#places-table td {
    padding: 10px;
}

.edit-btn {
    background-color: orange;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: red;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}