:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*  */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9f5f7;
    color: #333;
    text-align: center;
}

#map {
    height: 500px;
    margin: 20px auto;
    width: 100%;
}

form {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.table-container {
    margin: 30px auto;
    max-width: 1200px;
    padding: 0 20px;
}

#places-table {
    width: 100%;
}

#places-table th {
    background-color: #28a745;
    color: white;
    padding: 12px;
    text-align: center;
}

#places-table td {
    padding: 10px;
}

.edit-btn {
    background-color: orange;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: red;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}
/*  */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
